
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
<script src="test.js"></script>
<body>
<script>

</script>
<div>
<button onclick="databar()" >Tryk</button>
</div>

<!-- 
<div ng-app="myApp" ng-controller="myCtrl">

<input ng-model="myCtrl.name">

<h1>My name is {{myCtrl.name}}</h1>

</div>

<script>
angular.module('myApp', [])
.controller('myCtrl', function($scope){
    $scope.name = "";
	
});
</script>

<p>When you change the name in the input field, the changes will affect the model, and it will also affect the name property in the controller.</p>

<div ng-app="countApp" ng-controller="Ctrl as my">

        <button ng-click="my.myFunction()">Click Me!</button>
        
        <p>{{ my.count }}</p>
        
        </div>
        <script>
        angular.module('countApp', [])
        .controller('Ctrl', function Ctrl() {
            this.count = 0;
            this.myFunction = function go() {
                this.count++;
            }
        });
        //angular.bootstrap(document,['countApp']);
        </script>  -->
</body>
</html>
